/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
    url('./fonts/ibm-plex-mono-v3-latin-regular.woff2') format('woff2'),
    url('./fonts/ibm-plex-mono-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-mono-italic - latin */
@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Mono Italic'), local('IBMPlexMono-Italic'),
    url('./fonts/ibm-plex-mono-v3-latin-italic.woff2') format('woff2'),
    url('./fonts/ibm-plex-mono-v3-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-mono-700 - latin */
@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Mono Bold'), local('IBMPlexMono-Bold'),
    url('./fonts/ibm-plex-mono-v3-latin-700.woff2') format('woff2'),
    url('./fonts/ibm-plex-mono-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-mono-700italic - latin */
@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Mono Bold Italic'), local('IBMPlexMono-BoldItalic'),
    url('./fonts/ibm-plex-mono-v3-latin-700italic.woff2') format('woff2'),
    url('./fonts/ibm-plex-mono-v3-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff7f7;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  color: #22181c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono', monospace;
}

abbr {
  cursor: help;
}
